*.orig
*.o
*.lo
*.a
*.la
*~
Makefile
statHdrs.h
libtool
config.log
config.status

autom4te.cache/
.deps/
.libs/

bin/dx
bin/mdf2c

include/dxconfig.h
include/stamp-h1

src/exec/dxexec/dxexec

src/exec/dxmods/dx.mdf
src/exec/dxmods/dxcm.mdf

src/exec/libdx/local.mk

src/misc/arch.mak

src/uipp/dxuilib/lex.yy.c
src/uipp/dxuilib/netlex.c
